!!! 5
html(lang="en")
  head
    title bay cities
    link(href="screen.css", media="screen", rel="stylesheet", type="text/css")
    script(type="text/javascript", src="http://maps.googleapis.com/maps/api/js?sensor=false")
    script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(type="text/javascript", src="./js/underscore-min.js")
    script(type="text/javascript", src="./js/jquery.hoverIntent.minified.js")
    script(type="text/javascript", src="./js/points.js")
    block points
  body
    #left
    #content
      #map_canvas
